* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto Serif';
    font-size: 64px;
    font-weight: medium;
}

h2 {
    font-family: 'Roboto Serif';
    font-size: 40px;
    font-weight: medium
}

h3 {
    font-family: 'Roboto Serif';
    font-size: 24px;
    font-weight: bold;
}

p1 {
    font-family: 'Roboto Serif';
    font-size: 24px;
}

p2 {
    font-family: 'Roboto Serif';
    font-size: 18px;
}

.main-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 200px auto 50px;
}

.nav-bar {

}

.course-link, .about-us-link {

}

.get-started-button {

}

.logo-nav-bar {
    height: 50px;
    width: 50px;
}