* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto Serif';
    font-size: 64px;
    font-weight: medium;
}

h2 {
    font-family: 'Roboto Serif';
    font-size: 40px;
    font-weight: medium
}

h3 {
    font-family: 'Roboto Serif';
    font-size: 24px;
    font-weight: bold;
}

p1 {
    font-family: 'Roboto Serif';
    font-size: 24px;
}

p2 {
    font-family: 'Roboto Serif';
    font-size: 18px;
}

.main-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 200px auto 50px;
    grid-template-areas: "navbar navbar navbar navbar"
                        "infoarea infoarea cookingpicture cookingpicture"
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-basis: auto;
    justify-content: space-evenly;
    align-items: center;
    grid-area: navbar;

}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.get-started-button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
}

.logo-nav-bar {
    height: 50px;
    width: 50px;
}

.about-online-cooking{ 
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    grid-area: infoarea;
}


.about-online-cooking-picture {
    grid-area: cookingpicture;
    width: 100%;
    height: 100%;
}