* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto Serif', serif;
    font-size: 50px;
    font-weight: medium;
}

h2 {
    font-family: 'Roboto Serif', serif;
    font-size: 35px;
    font-weight: medium
}

h3 {
    font-family: 'Roboto Serif', serif;
    font-size: 24px;
    font-weight: bold;
}

p {
    font-family: 'Roboto Serif', serif;
    font-size: 24px;
}

p2 {
    font-family: 'Roboto Serif', serif;
    font-size: 18px;
}

.main-container {
    background-color: #F5F3EF;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px auto auto 50px;
    grid-template-areas: "navbar navbar navbar"
                        "infoarea cookingpicture cookingpicture"
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-basis: auto;
    justify-content: space-around;
    align-items: center;
    grid-area: navbar;

}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-family: 'Roboto Serif', serif;
}

.get-started-button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    font-family: 'Roboto Serif', serif;
}

.logo-nav-bar {
    height: 50px;
    width: 50px;
}

.about-online-cooking{ 
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    padding-right: 10px;
    padding-top: 20px;
    grid-area: infoarea;
}

.about-online-cooking-picture {
    grid-area: cookingpicture;
    width: 600px;
    height: 440px;
    padding-top: 20px;
}

